<section>
  <div class="ui container">
    <div class="ui secondary pointing menu">
      <a class="item" routerLinkActive="active" routerLink="" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="item" routerLinkActive="active" routerLink="/earnings">Earnings</a>
      <a class="item" routerLinkActive="active" routerLink="/ipos">IPOs</a>
      <a class="item" routerLinkActive="active" routerLink="/economic-data">Economic Data</a>
      <div class="right menu">
        <app-auth-button></app-auth-button>
      </div>
    </div>
    <div class="ui segment">
      <ng-content></ng-content>
    </div>
  </div>
</section>
