<div *ngIf="stock" class="container flex-grow-1 vw-100 p-2">
  <div class="row">
    <div class="col">
      <h3>Symbol: {{ stock.Symbol }} </h3>
      <span><a href="https://www.tradingview.com/chart/?symbol={{stock.Symbol}}" target="_blank">Open {{stock.Symbol}} in TradingView</a></span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p><strong>Asset Type:</strong> {{stock.AssetType}}</p>
      <p><strong>Name: </strong>{{stock.Name}}</p>
      <p><strong>Exchange: </strong>{{stock.Exchange}}</p>
      <p><strong>Country: </strong>{{stock.Country}}</p>
      <p><strong>Sector: </strong>{{stock.Sector}}</p>
      <p><strong>Industry: </strong>{{stock.Industry}}</p>
    </div>
    <div class="col">
      <p><strong>MarketCapitalization: </strong>{{stock.MarketCapitalization | shortNumberCurrency}}</p>
      <p><strong>52WeekHigh: </strong>{{stock.WeekHigh52}}</p>
      <p><strong>52WeekLow: </strong>{{stock.WeekLow52}}</p>
    </div>
  </div>
</div>
