<div class="ui centered grid">
  <div class="four wide column">
    <form (submit)="add()" class="ui form">
      <div class="field">
        <label>Stock Ticker</label>
        <div class="ui icon input">
          <input name="stock" [(ngModel)]="stock" type="text" placeholder="Add...">
          <i class="search icon"></i>
        </div>
      </div>
    </form>
    <div class="ui blue labels">
      <div class="ui hidden divider"></div>
      <a class="ui label" *ngFor="let stock of stocks" (click)="selectStock(stock)">{{stock.Symbol}}
        <i (click)="remove(stock)" class="icon close"></i>
      </a>
    </div>
  </div>
  <div class="ten wide column">
    <app-stock-details [stock]="selectedStock"></app-stock-details>
  </div>
</div>
