<div class="parent-container d-flex justify-content-center m-5">
<div class="container flex-grow-0 w-25">
  <div class="row">
    <div class="col text-center">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Tickers</span>
        </div>
        <input #stockInput type="text" class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default">
          <input (click)="addStockTicker(stockInput.value)" class="btn btn-success" type="button" value="Add">
      </div>
      <ul class="list-group text-center">
        <li *ngFor="let stock of stockTickers; let i = index;" class="list-group-item">
          <a (click)="selectStock(stock)">{{stock}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-stock-details [stock]="selectedStock"></app-stock-details>
</div>

<div class="container">
  <app-stock-news></app-stock-news>
</div>
